// === EXTERNAL === //

@use '../assets/variables';

// === MAIN === //
// .main--product {
//     // grid-auto-columns: repeat(1fr, 100px);
//     display: grid;
//     grid-template-columns: repeat(6, 1fr);
//     gap: 2rem;
// }
.main {
    display: grid;
    grid-template-areas:
        'filter filter filter'
        'sort sort sort'
        'browse browse browse';

    min-height: 100vh;
}

// === FILTER === //

.filter {
    grid-area: filter;
    background-color: rgb(110, 83, 88);
}

// === SORT === //

.sort {
    grid-area: sort;
    background-color: rgb(48, 102, 84);
}

// === BROWSE === //

.browse {
    grid-area: browse;
    background-color: var(--color-tertiary);

    display: flex;
    flex-direction: column;
}

.browse__title {
    padding-inline: variables.$spacing-6;
    padding-block: variables.$spacing-7;
}

.browse__products {
    padding-inline: variables.$spacing-6;
    padding-block-end: variables.$spacing-7;

    display: grid;
    // DESIGN: 256px => Mobile S width (320px) minus the padding-inline (32px * 2 = 64px).
    // IDEA: Maybe try to calculate it automatically with a mathematical formula.
    // grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

    grid-template-columns: repeat(auto-fit, 256px);
    justify-content: center;

    gap: variables.$spacing-6;
}
