// === EXTERNAL === //

@use '../assets/variables';

// === MAIN === //

// .main--product {
//     // grid-auto-columns: repeat(1fr, 100px);

//     display: grid;
//     grid-template-columns: repeat(6, 1fr);
//     gap: 2rem;
// }

.main {
    display: grid;
    grid-template-areas:
        'filter filter filter'
        'sort sort sort'
        'browse browse browse';

    min-height: 100vh;
}

// === FILTER === //

.filter {
    grid-area: filter;
    background-color: rgb(110, 83, 88);
}

// === SORT === //

.sort {
    grid-area: sort;
    background-color: rgb(48, 102, 84);
}

// === BROWSE === //

.browse {
    grid-area: browse;
    background-color: var(--color-tertiary);

    display: flex;
    flex-direction: column;
}

.browse__title {
    padding-inline: variables.$spacing-6;
    padding-block: variables.$spacing-7;
}

.browse__products {
    padding-inline: variables.$spacing-6;
    padding-block-end: variables.$spacing-7;

    display: grid;
    // DESIGN: 256px => Mobile S width (320px) minus the padding-inline (32px * 2 = 64px).
    // IDEA: Maybe try to calculate it automatically with a mathematical formula.
    // grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

    grid-template-columns: repeat(auto-fit, 256px);
    justify-content: center;

    gap: variables.$spacing-6;
}

// Temporary
// === PRODUCT === //

.product {
    background-color: var(--color-primary);
    border-radius: variables.$spacing-1;
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);
}

.product__figure {
    width: auto;
    height: 250px;
    position: relative;
    margin-bottom: -10%;
}

.product__image {
    width: 100%;
    height: 90%;
    border-radius: variables.$spacing-1 variables.$spacing-1 0px 0px;
    object-fit: cover;
}

.product__caption {
    position: absolute;
    bottom: 15%;
    left: 0;
    background-color: var(--color-tertiary);
    border-radius: 0px variables.$spacing-1 variables.$spacing-1 0px;

    font-weight: variables.$font-weight-medium;

    padding: variables.$spacing-0 variables.$spacing-2;
    font-size: variables.$font-size-small;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product__characteristics {
    padding-inline: variables.$spacing-5;
    padding-block-start: variables.$spacing-4;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-1;
}

.product__title {
    font-size: variables.$font-size-big;
    font-weight: variables.$font-weight-bold;
    margin-bottom: variables.$spacing-1;
}

.product__characteristic {
    font-size: variables.$font-size-base;
    color: var(--color-four);
}

.product__buttons {
    padding-inline: variables.$spacing-5;
    padding-block: variables.$spacing-4;
}

// Need to do the button later
.product__button {
}
