// === EXTERNAL === //

@use '../../assets/variables';

// === CLASS === //

.form {
    // padding-inline: variables.$spacing-6;
    // background-color: var(--color-primary);
    // border-radius: variables.$spacing-1;
    // border: none;
    // padding: 1rem;
}

.form__fieldset {
    // height: 100%;
    // width: 100%;
    // margin: 2rem;
    padding: 1rem;
    border-radius: variables.$spacing-1;
    border: none;
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);
}

.form__legend {
    background-color: var(--color-primary);
    border-radius: variables.$spacing-1;
    border: none;
    padding: 1rem;
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);

    font-size: variables.$font-size-bigger;
    font-weight: variables.$font-weight-black;
    color: var(--color-secondary);
}

// Width 100% for everything (e.g: input) in the form ?

.form__label {
    font-size: variables.$font-size-large;
    font-weight: variables.$font-weight-bold;
    color: var(--color-secondary);
}
