// === EXTERNAL === //

@use '../../assets/variables';

// === CLASSES === //

// Main
.main-home {
    min-height: 100vh;
    width: 100%;
    padding-block: variables.$spacing-6;
    padding-inline: variables.$spacing-6;
}

// Title
.main-home__title {
    padding-block-end: variables.$spacing-6;
}

// Content
.main-home__content {
}
