// === EXTERNAL === //

@use '../../assets/variables';

// === CLASSES === //

// IDEA: Regroup the "main" and "title" into one shared file across every features.
// Because right now, they are the same just like the "Shotgun Code Smell".

// Main
.main-register {
    min-height: 100vh;
    width: 100%;
    padding-block: variables.$spacing-6;
    padding-inline: variables.$spacing-6;

    display: flex;
    flex-direction: column;
}

// Title
.main-register__title {
    padding-block-end: variables.$spacing-6;
}

// Content
.main-register__content {
    margin-block: auto;
}
