// === EXTERNAL === //

@use 'variables';

// === OVERALL === //

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// === STRUCTURE === //

html {
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    font-family: variables.$font-geist;
    font-size: variables.$font-size-base;

    min-height: 100vh;
}

// === DOCUMENT === //

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

// === INFORMATION === //

ul,
ol {
    list-style: none;
}

// === INTERACTIVE === //

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

select {
    cursor: pointer;
}
