// === EXTERNAL === //

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

// === COLORS === //

$color-primary: hsl(0, 0%, 95%);
$color-secondary: hsl(0, 0%, 5%);

// === FONT-SIZE === //

$text-big: 1.25rem;
$text-large: 1.125rem;
$text-base: 1rem;
$text-small: 0.875rem;

// === LINE-HEIGHT === //

$line-big: 1.6em;
$line-large: 1.6em;
$line-base: 1.6em;
$line-small: 2em;

// === FONT-WEIGHT === //

$text-bold: 700;
$text-regular: 400;
