// === EXTERNAL === //

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

// === FONTS === //

$font-main: 'Geist', sans-serif;

// === COLORS === //

// TODO: Pass from "primary", "secondary"... to "10", "20", "30".
// TODO: Pass from "hsl" value to "hsla"

$color-light-primary: hsl(0, 0%, 90%);
$color-light-secondary: hsl(0, 0%, 10%);
$color-light-tertiary: hsl(0, 0%, 80%);
$color-light-four: hsl(0, 0%, 20%);
$color-light-accent: hsl(30, 100%, 40%);

$color-dark-primary: hsl(0, 0%, 10%);
$color-dark-secondary: hsl(0, 0%, 90%);
$color-dark-tertiary: hsl(0, 0%, 20%);
$color-dark-four: hsl(0, 0%, 70%);
$color-dark-accent: hsl(30, 100%, 60%);

// === FONT-SIZE === //

$font-size-bigger: 2rem;
$font-size-big: 1.5rem;
$font-size-larger: 1.25rem;
$font-size-large: 1.125rem;
$font-size-base: 1rem;
$font-size-small: 0.875rem;

// === LINE-HEIGHT === //

$line-height-bigger: 1.2em;
$line-height-big: 1.2em;
$line-height-larger: 1.6em;
$line-height-large: 1.6em;
$line-height-base: 1.6em;
$line-height-small: 2em;

// === FONT-WEIGHT === //

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// === SPACING === //

$spacing-0: 4px;
$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 16px;
$spacing-4: 20px;
$spacing-5: 24px;
$spacing-6: 32px;
$spacing-7: 48px;

// TODO: Refine the shadow box for dark and light and make it a variable.
// => box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.188), 0px 12px 12px hsla(0, 0%, 0%, 0.082);
