// === EXTERNAL === //

@use '../assets/variables';

// === CLASSES === //

// TODO: Use CSS grid layout to organize Header, Footer and Main

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: variables.$spacing-6;
    padding-block: variables.$spacing-3;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-tertiary);
}

.header__title {
    margin-block: auto;
    font-size: variables.$font-size-larger;
    font-weight: variables.$font-weight-regular;
    line-height: variables.$line-height-larger;
}

.button__icon {
    height: variables.$spacing-6;
    width: variables.$spacing-6;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: variables.$spacing-6;
    padding-block: variables.$spacing-7;
    background-color: var(--color-primary);

    min-height: 100vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: variables.$spacing-6;
    padding-block: variables.$spacing-3;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-tertiary);
}
