// === EXTERNAL === //

@use '../assets/variables';

// === CLASSES === //

// Layout
.layout-grid {
    display: grid;
    grid-template-areas:
        'header header header'
        'container container container'
        'footer footer footer';
}

// Header
.layout-header {
    grid-area: header;
}

// Content
.layout-content {
    grid-area: container;
}

// .layout-content--fluid {
//     grid-area: container;
// }

// Footer
.layout-footer {
    grid-area: footer;
}
