// === EXTERNAL === //

@use '../../assets/variables';

// === CLASSES === //

// I can't use .main because it is already taken by something else before.
// HOTFIX: Fix this problem to prevent potential bug after.
.main-register {
    background-color: var(--color-tertiary);
    display: grid;
    min-height: 90vh;
    padding-block: variables.$spacing-4;
    grid-template-areas: '. container-fluid .';
    justify-items: center;
    align-items: center;
}

.container-fluid {
    grid-area: container-fluid;
    min-width: fit-content;
    width: 100%;
    max-width: 450px;
}
